{{>header}}

<h1>A propos - dans view hbs</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto itaque odio libero. Impedit quasi ipsa officiis atque, odit sequi aspernatur reiciendis excepturi quibusdam, sunt, vitae eveniet placeat consectetur vel sapiente.</p>

{{>footer}}