
<h1>Static header page . hbs text</h1>
<div class="header">
    <div class="header-item">
        <a href="/">Home</a>
    </div>
    <div class="header-item">
        <a href="/about">About</a>
    </div>
    <div class="header-item">
        <a href="/Help">Help</a>
    </div>
    
</div>